// Colors
$primary: #22b9a0;
$primary-hover: #0b4c88;
$secondary:#e33131d1;
$pure: rgb(240, 235, 235);
$dark: #232323;
$gray: rgb(156, 153, 153);
$light1:rgba(240, 136, 18, 0.849);
//$gray: #ccc;


// Transition 
$smooth: all .3s ease-in-out;